.card-title{
    margin:auto;
    padding:2%;
}

body{
    background-color:ivory;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 3%;
}

.page-title{
    padding-left: 7%;
}

.login-c{
    padding-left:7%;
}

.page-footer{
    position:fixed;
    width:100%;
    height:5%;
    bottom:0;
}

footer a{
    color:inherit;
}

footer li{
    display:inline;
    padding-left:10%;
    padding-right:10%;
    font-size:20px;
}

.details{
    font-style:italic;
}
